<ion-view>
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <a nav-direction="back" class="button icon-left ion-chevron-left button-clear">Back</a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <div class="bar bar-header">
    <h2 class="title">{{contact.name}}, 18</h1>
  </div>

  <ion-nav-buttons side="right">
    <a href="#/profile">
      <button class="button profile ion-person"></button>
    </a>
  </ion-nav-buttons>

  <ion-content class="content-view chat">
    <div class="row">
      <div class="col col-75">
        <timer id="elsupertimer" countdown="180" max-time-unit="'minute'" interval="1000" finish-callback="finishCount()">
          <p class="timer">{{mminutes}}m:{{sseconds}}s</p>
        </timer>
      </div>
        <div class="col">
          <center>
            <p class="message-count">{{ messageCount }}</p>
            mensajes
          </center>
        </div>
    </div>

    <hr>

      <div ng-repeat="message in messages" ng-class="{other: message.user == me}" class="messages">
        <div class="message">
          <span class="message-span">{{ message.text }}</span>
        </div>
      </div>

  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset" style="margin-top:20%">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" ng-disabled="timeOutBaby()"/>
    </label>
    <button class="button button-clear" ng-click="sendMessage()" ng-disabled="timeOutBaby() || data.message.length < 1">
      Enviar
    </button>
  </ion-footer-bar>
</ion-view>