<ion-view>
  <div class="bar bar-header">
    <a nav-direction="back" ng-click="goBack()" class="button icon-left ion-chevron-left button-clear">Back</a>
    <h2 class="title">{{user.name}}, 18</h1>
  </div>

  <ion-content class="content-view config padding">
    <div class="list card">
      <div class="item item-image">
        <img ng-src="{{ user.picture.data.url }}">
      </div>

    </div> 

    <label class="item item-input">
      <textarea placeholder="Sobre mi" maxlength="140" rows="3"></textarea>
    </label>
    &nbsp
    <div ng-show="showMeInteresan">
      <p>Me Interesan...</p>
      <li class="item item-toggle">
       Chicos
       <label class="toggle toggle-positive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
     </li>
     <li class="item item-toggle">
       Chicas
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
     </li>
  </div>

  </ion-content>
</ion-view>